@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

body {
  line-height: 1.6;
  letter-spacing: 0.025em;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #252943; /* Background color */
}

::-webkit-scrollbar-thumb {
  background: #5953be; /* Scrollbar handle color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #736ced; /* Handle color on hover */
}
